<!-- src/app/pages/fase2/fase2-calculator.component.html -->


<!-- <div>
  <label>Estado del boss:</label>
  <select [(ngModel)]="estadoPanda">
    <option *ngFor="let e of estados" [value]="e">{{e}}</option>
  </select>
</div>

<div>
  <label>Posición del panda:</label>
  <select [(ngModel)]="posPanda">
    <option *ngFor="let n of [1,2,3,4,5,6]" [value]="n">{{n}}</option>
  </select>
</div>

<br>
 <button class="btn btn-primary" (click)="calcular()">Calcular</button> -->

 <div class="bg-violet-50 p-6 rounded-2xl shadow-inner mb-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    <div class="form-control w-full">
      <label class="label">
        <span class="label-text font-bold text-slate-700 flex items-center gap-2">
         Estado del Boss
        </span>
      </label>
      <select
        [(ngModel)]="estadoPanda"
        class="select select-bordered w-full bg-white transition-all focus:ring-2 focus:ring-primary/20">
        <option disabled selected value="">Selecciona elemento...</option>
        <option *ngFor="let e of estados" [value]="e">{{e | titlecase}}</option>
      </select>
      <label class="label">
        <span class="label-text-alt text-slate-500 italic">El elemento actual del boss</span>
      </label>
    </div>

    <div class="form-control w-full">
      <label class="label">
        <span class="label-text font-bold text-slate-700 flex items-center gap-2">
          <i class="fa-solid fa-arrows-up-down-left-right text-primary"></i> Posición del Jugador
        </span>
      </label>
      <select
        [(ngModel)]="posPanda" (ngModelChange)="posPanda = +$event"
        class="select select-bordered  w-full bg-white transition-all focus:ring-2 focus:ring-primary/20">
        <option *ngFor="let n of [1,2,3,4,5,6]" [value]="n">Turno #{{n}}</option>
      </select>

    </div>

  </div>

  <div class="mt-8 flex justify-center">
    <button
      class="btn btn-primary btn-wide text-lg shadow-lg hover:scale-105 active:scale-95 transition-all gap-3"
      (click)="calcular()">
      <i class="fa-solid fa-gears"></i>
      Calcular
    </button>
  </div>
</div>




<div class="flex justify-center p-4 w-full">
<div *ngIf="resultados.length > 0" class="card w-full max-w-md bg-base-100 shadow-xl border border-base-200 bg-violet-50 ">
  <div class="card-body p-5">

    <h2 class="text-xl  flex items-center gap-2 mb-4 font-bold">
      <i class="fas fa-scroll"></i>
      Ubicación por Elementos
    </h2>

    <div class="flex flex-col gap-3">
      <div *ngFor="let r of resultados"
           class="flex items-center justify-between p-3 rounded-r-xl border-l-8 shadow-sm transition-all hover:bg-white"
           [ngClass]="[getEstilo(r.totemIdeal).bg, getEstilo(r.totemIdeal).border]">

        <div class="flex items-center gap-3">
          <div>
            <p class="text-[10px] uppercase font-bold text-slate-500 leading-none">Jugador {{r.aliado}}</p>
            <p class="text-lg font-black leading-tight" [ngClass]="getEstilo(r.totemIdeal).css">
              {{r.totemIdeal | formatFase3 | titlecase}}
            </p>
          </div>
        </div>

        <div class="text-2xl opacity-80" [ngClass]="getEstilo(r.totemIdeal).css">
          <i [class]="getEstilo(r.totemIdeal).icon"></i>
        </div>
      </div>
    </div>

    <div *ngIf="estadoBoss"
         class="mt-6 p-4 rounded-xl bg-white border-b-4 flex items-center gap-4 animate-pulse"
         [ngClass]="getEstilo(estadoBoss).border">

      <div class="text-3xl" [ngClass]="getEstilo(estadoBoss).css">
        <i class="fas fa-exclamation-triangle"></i>
      </div>

      <div class="flex-1">
        <p class="text-xs font-bold text-slate-400 uppercase">El boss ultea con elemento: </p>
        <p class= "font-medium">
          <span class="font-black" [ngClass]="getEstilo(estadoBoss).css">{{estadoBoss  | formatFase3 |titlecase}}
          </span>
        </p>
      </div>
      <div class="text-2xl opacity-80" [ngClass]="getEstilo(estadoBoss).css">
          <i [class]="getEstilo(estadoBoss).icon"></i>
        </div>
    </div>

  </div>
</div>
</div>

