/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}


/* Esto obliga a que el scroll horizontal no afecte al ancho visual */
html, body {
  width: 100vw !important;
  max-width: 100vw !important;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
}

/* Fuerza a que los componentes ocupen el ancho de la ventana, no del contenido */
app-navbar, app-footer {
  display: block;
  width: 100vw !important;
  min-width: 100vw !important;
}
