<div class="navbar bg-violet-200 shadow-sm px-4 md:px-8">


  <div class="navbar-start  lg:flex">
    <ul class="menu menu-horizontal px-1 gap-2 font-bold">
      <li>
        <a routerLink="/fase2"
           routerLinkActive="bg-violet-300 text-white shadow-md"
           class="hover:bg-violet-300 transition-all px-6">
           Fase 2
        </a>
      </li>
      <li>
        <a routerLink="/fase3"
           routerLinkActive="bg-violet-300 text-white shadow-md"
           class="hover:bg-violet-300 transition-all px-6">
           Fase 3
        </a>
      </li>
    </ul>
  </div>
</div>
