<div class="navbar bg-violet-200 shadow-sm w-full px-2 md:px-8 flex-wrap">

  <div class="navbar-start w-full lg:w-auto justify-center lg:justify-start">
    <ul class="menu menu-horizontal p-0 gap-1 md:gap-2 font-bold text-sm md:text-base">
      <li>
        <a routerLink="/fase2"
           routerLinkActive="bg-violet-400 text-white shadow-md"
           class="hover:bg-violet-300 transition-all px-3 md:px-6 py-2">
           Fase 2
        </a>
      </li>
      <li>
        <a routerLink="/fase3"
           routerLinkActive="bg-violet-400 text-white shadow-md"
           class="hover:bg-violet-300 transition-all px-3 md:px-6 py-2">
           Fase 3
        </a>
      </li>
    </ul>
  </div>

</div>
